.fixed-menubar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.container {
  text-align: center;
  text-size-adjust: 100px;
  background-color: #185d4e;
  padding: 230px;
  color:#d1ae0f;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-bar ul {
  list-style: none;
  padding: 0;
}

.menu-bar ul li {
  display: inline;
  margin-right: 20px;
}

.menu-bar ul li i {
  margin-right: 5px;
}

.content {
  margin-top: 20px;
}

button {
  background-color:#d1ae0f;
  color: #0e5344;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  
}
button:hover {
  background-color: #0e5344;
  color: #d1ae0f; 
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.image-container img {
  position: absolute;
  max-width: 200%; 
  max-height: 200px; 
  width: auto; 
  height: auto;
  transform: translateY(-50%);
}
p{
  display: flex;
  justify-content: center;
}