.fixed-menubar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.title{
  transform: translateY(150%);
}
h2 {
  display: flex;
  justify-content: center;
  color: #d1ae0f;
  text-align: center;
  font-size: 40px;
}
h3{
  font-size: 23px;
}

.slide-over {
  position: fixed;
  right: 10px;
  width: 40%;
  height: 100vh;
  background-color: #0e5344;
  color: #d1ae0f;
  text-align: center;
  writing-mode: horizontal-tb;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  border-radius: 10%;

}


.card {
  width: 300px;
  border: 10px solid #0e5344;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  direction: rtl;
  text-align: right;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;

}

.card-text-rtl p {
  margin: 5px 0;
}


.grade {
  color: #d1ae0f;
  font-weight: bold;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(500%);
}
.image-container img {
  position: absolute;
  max-width: 200%;
  max-height: 200px;
  width: auto;
  height: auto;
  transform: translateY(50%);
}

.question-container {
  width: 50%; 
  margin-right: 20px;
  margin-bottom: 20px;
  direction: rtl;
  margin-top: 70px;
  position: relative;
}
.center-container {
  transform: translateY(100%);
  margin-left: 5%;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.answer {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.button-container {
  display: flex;
  justify-content: center;
  transform: translateX(-25%);
  margin-top: 30px;
}

button {
  background-color: #0e5344;
  color:  #d1ae0f;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.last-question-button {
  background-color: #d1ae0f;
  color: #0e5344;
}